@model MortgageCalculator.Models.MortgageCalculatorModel

<h2>Mortgage Calculator Results</h2>

<div>
    <h3>Results:</h3>
    <p>Purchase Price : @Model.PurchasePrice.ToString("C")</p>
    <p>Down Payment : @Model.DownAmount.ToString("C")</p>
    <p>Loan Amount : @Model.LoanAmount.ToString("C")</p>
    <p>Interest Rate : @Model.InterestRate.ToString("C")</p>
    <p>Monthly Payment: @Model.MonthlyPayment.ToString("C")</p>
    <p>Total Payment: @Model.TotalPayment.ToString("C")</p>

</div>
