@model MortgageCalculator.Repository.MtgLoan

<h2>Mortgage Calculator Results</h2>

<div>
    <h3>Results:</h3>
    <p>Purchase Price : @Model.PurchasePrice.ToString("C")</p>
    <p>Down Payment : @Model.DownAmount.ToString("C")</p>
    <p>Down Payment as a % (percent): @(Math.Round(Model.DownAmountPercent, 2))%</p>
    <p>Loan Amount : @Model.LoanAmount.ToString("C")</p>
    <p>Interest Rate : @(Model.InterestRate.ToString("") +("%"))</p>
    <p>Terms : @(Model.Years.ToString("")+(" years")) / @(Model.InMonths.ToString("") + (" months"))</p>
    <p>Monthly Tax: @(Model.Taxes.ToString("C"))</p>
    <p>Monthly Insurance: @(Model.Insurance.ToString("C"))</p>
    <p>Monthly HOA: @(Model.HOA.ToString("C"))</p>
    <p>Montly PMI: @(Model.PMI.ToString("C"))</p>
    <p>Loan: @Model.MonthlyPayment.ToString("C")</p>
    <p>Total Monthly Payment: @(Model.PITI.ToString("C"))</p>
    <p>Total Payment: @Model.TotalPayment.ToString("C")</p>

    <p></p>
    <a href="@Url.Action("Index", "MortgageCalculator")" class="button bg-black" >Start Over </a>
</div>
